[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
apscheduler = "*"
requests = "*"
click = "*"
voluptuous = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
